@model Shop.Infrastructrue.PaginatedList<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Add product to order</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Image
            </th>
            <th>
                Price
            </th>
            <th>
                CreatedAt
            </th>
            <th>
                IsActive
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Add" 
                       asp-route-orderId="@ViewBag.orderId"
                       asp-route-productId="@item.ProductId"
                       >Add</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model != null && Model.Count() > 0)
{
    <div class="row">

        <div class="col">
            @{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

            <a asp-action="List"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
            <a asp-action="List"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </div>
    </div>}
