@model Shop.ViewModels.HomeViewModel
@using Shop.Infrastructrue


@{
    ViewData["Title"] = "WebShop";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our store!</h1>
    <br />
    <div class="row">
        <div class="col-3">
            <h3>Categories:</h3>
            <br />
            <ul class="categories">
                @foreach (var category in Model.Categories)
                {    
                    <li class="category">
                        <a href="@Url.Action("List", "Products", new { categoryName = category.Name.ToLower() })">
                            <div>
                                <img src="@Url.CategoryIconsPath(category.Icon)" class="center" width="45" height="40" alt="Category icon" />
                                @category.Name
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-9">
            <h3>Newests</h3>
               <div class="row">
                   @foreach (var product in Model.Newests)
                   {
                        <div class="col-4">
                            <div class="product">
                                <a href="@Url.Action("Detail", "Products", new { id = product.ProductId })">
                                    <img src="@Url.ProductImagesPath(product.Image)" class="center" width="200" height="200" alt="Category icon" />
                                    <span class="product-list-name">@product.Name</span>
                                    <span class="product-list-name">@product.Price PLN </span>
                                </a>
                            </div>   
                        </div>
                   }
               </div>
        </div>       
    </div>
    
</div>
